site_name: Pulakesh Pradhan | MkDocs Premium
site_url: https://pulakeshpradhan.github.io/samplemkdocs/
site_description: A modern documentation site based on the 2024 Material theme.
site_author: Pulakesh Pradhan

repo_name: pulakeshpradhan/samplemkdocs
repo_url: https://github.com/pulakeshpradhan/samplemkdocs
edit_uri: edit/main/docs/

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo.png
  favicon: assets/favicon.ico
  features:
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - navigation.indexes
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: custom
      accent: indigo
      media: "(prefers-color-scheme: dark)"

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: custom
      accent: indigo
      media: "(prefers-color-scheme: light)"

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

nav:
  - Tutorials: tutorials.md
  - Welcome: index.md
  - Features:
      - Admonitions: admonitions.md
      - Code Examples: code-examples.md
      - Content Tabs: content-tabs.md
      - Diagrams: diagram-examples.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/pulakeshpradhan
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/pulakeshpradhan
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/pulakesh

extra_css:
  - stylesheets/extra.css

copyright: Copyright &copy; 2026 Pulakesh Pradhan