site_name: Geospatial Coding Hub
site_url: https://pulakeshpradhan.github.io/geospatial/
site_description: A simple and efficient guide for coding in geospatial science.
site_author: Pulakesh Pradhan

repo_name: pulakeshpradhan/geospatial
repo_url: https://github.com/pulakeshpradhan/geospatial
edit_uri: edit/main/docs/

theme:
  name: material
  language: en
  palette:
    - scheme: default
      primary: teal
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tooltips
    - content.action.edit
    - content.action.view

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - Python for GIS: python_gis.md
  - GEE & Geemap: gee_geemap.md
  - Tutorials: tutorials.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/pulakeshpradhan/geospatial
    - icon: fontawesome/actions/git-pull-request
      link: https://github.com/pulakeshpradhan/geospatial/pulls
    - icon: fontawesome/actions/git-issue
      link: https://github.com/pulakeshpradhan/geospatial/issues

extra_css:
  - stylesheets/custom.css

copyright: Copyright &copy; 2026 Pulakesh Pradhan
